:root {
  --main-color: #7d7987;
  --title-color: #000000;
  --accente-color: #458ff6;
  --white: #ffffff;
}

body {
  font-family: " Mulish", sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.52;

  color: var(--main-color);
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.title {
  color: var(--title-color);
  font-weight: 700;
}
.section-title {
  font-size: 36px;
  line-height: 1.56;
}
.item-title {
  font-size: 24px;
  line-height: 2.33;
}
.link {
  color: inherit;
  text-decoration: none;
}
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  padding-left: 51px;
  padding-right: 51px;

  border: 1.4px solid var(--accente-color);
  box-sizing: border-box;
  border-radius: 55px;

  font-weight: 700;
  font-size: 18px;
  line-height: 3.33;
  color: var(--accente-color);
}

.btn:hover,
.btn:focus {
  color: var(--white);
  background-color: var(--accente-color);
}
.btn-accent:hover,
.btn-accent:focus {
  color: var(--accente-color);
  background-color: var(--white);
}
.menu-item{

